<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IUsersManager">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IUserConnectionHandler">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPartyManager">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPartyValidator">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICardManager">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IMatchManager">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8080/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsersManager" contract="DataService.IUsersManager" name="NetTcpBinding_IUsersManager" />
      <endpoint address="net.tcp://localhost:8080/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserConnectionHandler" contract="DataService.IUserConnectionHandler" name="NetTcpBinding_IUserConnectionHandler" />
      <endpoint address="net.tcp://localhost:8080/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartyManager" contract="DataService.IPartyManager" name="NetTcpBinding_IPartyManager" />
      <endpoint address="net.tcp://localhost:8080/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartyValidator" contract="DataService.IPartyValidator" name="NetTcpBinding_IPartyValidator" />
      <endpoint address="net.tcp://localhost:8080/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardManager" contract="DataService.ICardManager" name="NetTcpBinding_ICardManager" />
      <endpoint address="net.tcp://localhost:8080/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchManager" contract="DataService.IMatchManager" name="NetTcpBinding_IMatchManager" />
    </client>
  </system.serviceModel>
</configuration>