<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="SecureBinding" portSharingEnabled="true">
					<security mode="None"/>
					<reliableSession enabled="true"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="CommunicationService.ServiceImplementation">
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="CommunicationService.IUsersManager"/>
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="CommunicationService.IPartyManager"/>
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="CommunicationService.IPartyValidator"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082"/>
						<add baseAddress="net.tcp://localhost:8080"/>
						<!-- <add baseAddress="http://localhost:8082"/>  -->
						<!-- <add baseAddress="net.tcp://localhost:8080"/> -->
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<connectionStrings>
		<add name="DuoContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FVM9F80\SQLEXPRESS;initial catalog=duo;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>