<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="EncryptedPassword" value="vn80OmN2ornd7NwPlwzE09kHmRHd260de8T3RyCRjMM=" />
		<add key="Key" value="b14ca5898a4e4133bbce2ea2315a1916" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="SecureBinding" portSharingEnabled="true" receiveTimeout="00:10:00" sendTimeout="00:10:00">
					<security mode="None"/>
					<reliableSession enabled="true"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="CommunicationService.ServiceImplementation">
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="CommunicationService.IUsersManager"/>
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="CommunicationService.IUserConnectionHandler"/>
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="CommunicationService.IPartyManager"/>
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="CommunicationService.IPartyValidator"/>
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="CommunicationService.ICardManager"/>
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="CommunicationService.IMatchManager"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082"/>
						<add baseAddress="net.tcp://localhost:8080"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<connectionStrings>
		<add name="DuoContext" connectionString="metadata=res://*/DuoDatabaseModel.csdl|res://*/DuoDatabaseModel.ssdl|res://*/DuoDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=matebook\SQLEXPRESS;initial catalog=duo;persist security info=True;user id=DuoUsers;password=12q9^F8ckUp*HRz;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>