<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>2g7d4heEvve+crSzLSMXNJm/uDS9mYL/jWm1VvJkBuXpzKzEz08LSUGTW2x/BI9pVFXCOPUzqAB1hS7Y3HRIPg2YUaCoOVnIYQWaVib9HcJdFQFkDDCom3kyeSsrTV2RkzL6YQO4PwPg4FQ3k1rwVf2ZspPf2ZgJde9bNlLifYVB0e5x2457WTYpwqK46535mYdXzcIiEeWkmztwf48/98/CeGMcci/Tv/nBMOW3cgEaPtmFWXh+V5n3IkjdErZcJP7vWEwehtdm9cydfqZGOfk/5ynNZTNOIQTWbCptnMNZwR4oHr3MxbOQ60RAdlNY6wDD7PWGMaxQVHzVsFqx5A==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Sq6H/5B05QAPqMbWKKib1p+4/avYIJF1HVU9/+vWzhQ5ffhHpc7eENszwbWFxwTF</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>