<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAACX4tZ0ZLuk+xt9FS7tVgDwQAAAACAAAAAAAQZgAAAAEAACAAAADr2XG2intdh/tySuX783ElSzz3+SyzqctBfvGn3d1YUAAAAAAOgAAAAAIAACAAAADk9wf99zcEJxH5chB5sRwcf4tf38XwZiDsw7wzwNeH/TAAAABQvnIHGFYYWz+vdtx58uYcCw2daHkOOff3rQs27KeXgoQkT1bt9HQNrXtKmMMstSZAAAAAqCPFBAWPVZ8jNHPsD6BdikpTnsstVmFwDKMt5MAU+a/iy0RR7WJ7e+c5JinMZ6dxfFdshoygp/zmq9c8Hlqr3g==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>