<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAACX4tZ0ZLuk+xt9FS7tVgDwQAAAACAAAAAAAQZgAAAAEAACAAAAB6Lh+BCV1eYxM3+wAk/Cn0nOT35TkbsYjI6kenWJ1b/QAAAAAOgAAAAAIAACAAAAAGSLmzY+yqbgWdDAIUOUw4wc1kGzZhWg0afwHW3C9QDDAAAADwQRE4ypVOYHyvlKgB8ZgPGudDbQTxKKrLyYVom0eKC/v6YBm7/7kHk078bxlFYeVAAAAAQeU1vKc7SUWhGEntEmawkkMPOJZWTtokHHxCq2kY+gnupqg+d0YdhzC/czmJEiNSelMVURhdkHSVsfjwddtz+g==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>